{% extends "base.html" %}
{% block content %}

<!-- <div class='col-sm-6 col-sm-offset-3'>  -->
<!-- <h1>{{ titulo }}</h1> -->



{% for obj in object_list %}

    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
              <a href="{{ obj.get_absolute_url }}">
                <h2 class="post-title">
                  {{ obj.title }}
                </h2>
                <h3 class="post-subtitle">
                  {{ obj.description }}
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">{{ obj.author }}</a>
                on {{ obj.published }}</p>
            </div>
            <hr>
          </div>
        </div>
    </div>
    
{% endfor %}
    <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">Previous</a>
            {% endif %}

            <span class="current">
                Pag. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">Next</a>
    {% endif %}
        </span>
    </div>
              </div>
            </div>
        </div>

{% endblock %}

